h2{
    font-family: "Press Start 2P", "consolas", "sans-serif";
    color:red;
    text-shadow: 2px 2px 2px rgb(65, 65, 65);
}

.col{
    border: 1px solid rgb(65, 65, 65);
    border-radius: 15px;
    margin-left: 5px;
    height: 30px;
    background-color: rgb(19, 162, 19);
    text-align: center;
    color: black;
    font-family:"Press Start 2P", "consolas", "sans-serif" ;
    font-size: 11px;
    padding-top: 5px;
    
}

#red{
    background-color: red;
}

#tomato{
    text-align: right;
    width: 30px;
    height: 23px;
}

#tomnato:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


p{
    
    font-family: "Press Start 2P", "consolas", "sans-serif";
    color:black;

}

.container{
    border: 0px solid rgb(65, 65, 65);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color:rgba(241, 241, 241, 0.993);
}

a{
    text-decoration: none;
    color: black;
}